.timer {
  margin-top: 40px;
  text-align: center;
  &-title {
    font-size: 34px;
  }
  &-list {
    list-style: none;
    display: flex;
    margin: 0 0 0 0;
    padding: 0;
    justify-content: center;
  }
  &-item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  &-value {
    font-size: 50px;
  }
  &-label {
    color: blueviolet;
    font-size: 32px;
  }
}

.refresh-timer {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  cursor: pointer;
}
